<div class="delete-wrapper">
  <h1 class="delete-title">Delete "{{ shopping_list.name }}"?</h1>
  <p class="delete-text">This list and its {{ shopping_list.items.count}} product{{ shopping_list.items.count|pluralize}} 
    will be deleted permanently. This can't be undone.</p>

  <div class="delete-buttons-div">
    <button class="cancel-button btn-close">Cancel</button>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="confirm-delete-button">Delete</button>
    </form>
  </div>
</div>