<!DOCTYPE html>
<html>

<head>
  <title>{{ title }} - PriceWise</title>

  {% load static %}

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>

<body>
  <h1 class="edit-title">{{ title }}</h1>

  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <hr>

    <h1 class="products-title">Products</h1>

    {{ formset.management_form }}

    <div id="items-container" class="products-div">
      {% for item_form in formset %}
        <div class="item-form" class="form-div">
          {{ item_form.id }}
          {{ item_form.product }}
          {{ item_form.quantity }}
          {{ item_form.DELETE }} <label>Remove</label>
        </div>
      {% endfor %}
    </div>

    <div id="empty-form-template" style="display: none;">
      <div class="item-form">
        {{ formset.empty_form.id }}
        {{ formset.empty_form.product }}
        {{ formset.empty_form.quantity }}
        {{ formset.empty_form.DELETE }} <label>Remove</label>
      </div>
    </div>

    <button type="button" id="add-item" class="add-button">+ Add product</button>

    <a href="{% url 'index' %}?open_lists=true"><button class="back-button">Back</button></a>
    <button type="submit" class="save-list-button">Save</button>
  </form>


  <script>
    (function () {
      const container = document.getElementById('items-container');
      const template = document.getElementById('empty-form-template');
      const addButton = document.getElementById('add-item');
      const totalForms = document.getElementById('id_{{ formset.prefix }}-TOTAL_FORMS');

      addButton.addEventListener('click', function () {
        const index = parseInt(totalForms.value, 10);
        const newRow = template.innerHTML.replace(/__prefix__/g, index);
        container.insertAdjacentHTML('beforeend', newRow);
        totalForms.value = index + 1;
      });
    })();
  </script>
</body>

</html>