<div class="shopping-list-panel-content">

  <div class="shopping-list-header">

    <h1>Shopping Lists</h1>

    <a href="{% url 'shopping_lists:create' %}">
      + Create list
    </a>

  </div>


  <ul class="shopping-list-items">

    {% for shopping_list in shopping_lists %}

    <a href="{% url 'shopping_lists:detail' shopping_list.pk %}">
      <li class="shopping-list-item">


        {{ shopping_list.name }}


        <span>
          ({{ shopping_list.items.count }} products)
        </span>

      </li>
    </a>

    {% empty %}

    <li>
      No lists yet.
    </li>

    {% endfor %}

  </ul>

</div>