<!DOCTYPE html>
<html>
<head>
  <title>Log in - PriceWise</title>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">

</head>
<body>
  <div class="login-container">
    <h1>PriceWise</h1>
    <p class="log-in-text">Log into your accout</p>

    <form method="post" class="login-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <p>
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username.errors }}
        {{ form.username }}
      </p>

      <p>
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password.errors }}
        {{ form.password }}
      </p>

      <button type="submit">Log in</button>
    </form>

    <a href="/" class="back-link">Back to PriceWise</a>
  </div>
</body>
</html>