<!DOCTYPE html>
<html>

<head>
  <title>PriceWise</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<body>

  <div class="main-page">
    <div class="header">
      <div class="left-header">
        <p class="app-icon">PriceWise</p>
      </div>

      <div class="middle-header">
        <form action="" method="get">
          <div class="search-container">
          <input type="text" name="q" class="search-bar" placeholder="Search product" value="{{ request.GET.q }}">

          <button type="submit" class="search-button-achor">
            <div class="search-button">
              <img class="search-icon" src="{% static 'img/icons/search.png'%}">
            </div>
          </button>
          
          </div>
        </form>
        
      </div>

      <div class="right-header">
        <a class="shopping-list-anchor" href="{% url 'shopping_lists:index'  %}">
          <div class="shopping-list-container">
            <img class="shopping-list-icon" src="{% static 'img/icons/lists.png'%}">
            <p class="shopping-list-text">Shopping Lists</p>

          </div>
        </a>
      </div>


    </div>

    <div class="page-body">

      <div class="filter-section">
        sadsadasd
      </div>

      <div class="product-section">
        <div class="products-grid">

          {% for product in products %}

          <div class="product-card">

            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">

            <div class="product-details">
              <p class="product-name">{{ product.name }}</p>

              <a href="{% url 'products:detail' product.pk %}">
                <button>View Details</button>
              </a>
            </div>
          </div>

          {% empty %}

          <p>No products available.</p>

          {% endfor %}

        </div>
      </div>

    </div>
  </div>

</body>

</html>