<!DOCTYPE html>
<html>

<head>
  <title>PriceWise</title>

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
  <div class="main-container">

    <div class="shopping-list-grid">

      <div class="shopping-list-title">
        <h2>Shopping List</h2>
      </div>

      <div class="shopping-list-content">
        <div class="create-shopping-list-div">
          <button class="create-shopping-list-button">+</button>
          <p class="create-shopping-list-text">Create Shopping List</p>
        </div>
      </div>

    </div>
    <div class="main-page-grid">

      <div class="page-title">
        <h1>PriceWise</h1>
      </div>

      <div class="search-bar-div">
        <input class="search-bar" type="text" placeholder="Search product">
        <button class="search-button">Search</button>
      </div>


      <div class="main-content">

      </div>
    </div>
  </div>
</body>

</html>