/* =========================================
   HEADER STRUCTURE
   ========================================= */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #011A1C;
  height: 120px;
  margin: 0;
  box-shadow: 0px 0.6px 10px 2px rgba(0, 0, 0, 0.2);
}

.left-header,
.right-header {
  flex: 1;
  text-align: center;
}

.middle-header {
  flex: 2;
  max-width: 1000px;
}

/* =========================================
   PRICEWISE APPICON (LEFT HEADER)
   ========================================= */
.app-icon {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin: 0px;
  cursor: pointer;
  transition: all, 1s;
}

.app-icon:hover {
  letter-spacing: 1px
}



/* =========================================
   SEARCH BAR (MIDDLE-HEADER)
   ========================================= */

.search-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 40px;
  box-shadow: 0px 6px 15px 0.1px rgba(0, 0, 0, 0.6);
  transition: transform, 1s;
}

.search-container:hover {
  transform: scaleX(5px);
}

.search-bar {
  padding-left: 15px;
  flex: 1;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0px;
  color: rgb(110, 108, 110);
}
.search-button {
  width: 60px;
  background-color: rgb(234, 229, 237);
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 10px;
  transition: all, 0.6s;
}
.search-button:hover{
  padding: 10px 54px;
  background-color: rgb(248, 242, 251);
}

.search-icon {
  width: 30px;
  height: auto;
}

/* =========================================
   SHOPPING LIST ICON (RIGHT HEADER)
   ========================================= */
.app-icon {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin: 0px;
  cursor: pointer;
  transition: all, 1s;
}

.app-icon:hover {
  letter-spacing: 1px
}


.shopping-list-anchor {
  display: inline-block;
}

.shopping-list-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding: 0px;
  align-items: center;
  justify-content: center;
  transition: all, 1s;
}

.shopping-list-container:hover {
  transform: translateX(5px);
}

.shopping-list-icon {
  height: auto;
  width: 50px;
  margin: 0px;
}

.shopping-list-text {
  margin: 0px;
}
