/* =========================================
   SHOPPING LIST PANEL
   ========================================= */

.shopping-list-panel {
    position: fixed;

    top: 0;
    right: -450px;

    width: 450px;
    height: 100vh;

    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 1);

    z-index: 1000;

    overflow-y: auto;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);

    transition: right 0.3s ease;
}


/* Panel abierto */

.shopping-list-panel.open {
    right: 0;
}


/* =========================================
   BOTÓN DE CERRAR
   ========================================= */

.close-panel {
    position: absolute;

    top: 15px;
    right: 20px;
    padding: 0;


    border: none;

    background: transparent;

    font-size: 28px;
    line-height: 35px;

    cursor: pointer;

    z-index: 1001;
}

.close-panel:hover {
    padding: 1px;
    opacity: 0.6;
}


/* =========================================
   CONTENIDO DEL PANEL
   ========================================= */

#shoppingListContent {
    width: 100%;
    min-height: 100%;

    box-sizing: border-box;
}


/* =========================================
   HEADER DE SHOPPING LISTS
   ========================================= */

.shopping-list-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #011A1C;

    margin-bottom: 30px;

    padding: 50px 50px 41px 50px;
}

.shopping-list-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.shopping-list-header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    top:0;
}


/* =========================================
   LISTA
   ========================================= */

.shopping-list-items {
    list-style: none;

    margin: 0;
    padding: 0px 30px 30px 30px;
}


/* =========================================
   CADA SHOPPING LIST
   ========================================= */

.shopping-list-item {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 15px 5px;

    border-bottom: 1px solid #e5e5e5;
}

.shopping-list-item{
    text-decoration: none;
    color:black;
    font-size: 16px;
    transition: background-color, 0.7s;
    transition: transform, 0.7s;
}

.shopping-list-item span {
    font-size: 14px;
    color: #777;
}


/* =========================================
   HOVER
   ========================================= */

.shopping-list-item:hover {
    background-color: #f7f7f7;
    transform: translateY(-1px);
}


/* =========================================
   MENSAJE CUANDO NO HAY LISTAS
   ========================================= */

.shopping-list-items li:not(.shopping-list-item) {
    color: #777;

    padding: 20px 5px;
}